<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Delicious Coffee Corner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <h3>Treat yourself with a drink</h3>
    <ion-item-divider >
       
        <ion-label >
            <img src="../../assets/pictures/Healthy_Types_Coffeefilterjpg1.jpg">
        </ion-label>
      </ion-item-divider>
      
     <!-- Item Dividers in a List -->
      <!-- <ion-list> -->
      
      
        <!-- <ion-item>--><ion-label><ion-button (click)="submit()" shape="round" expand="full" color="success"> Order Here>>>></ion-button><br></ion-label><!--</ion-item> -->
        
      <!-- </ion-list>  -->
  
    </div>
  
   
   
</ion-content>
