ion-toolbar{
    text-align: center;
}

h3{
    text-align: center;
    color: rgb(94, 138, 28);
}



// .home-container{
//     position:absolute;
//     left: 0;
//     right: 0;
//     margin:0 auto;
//     top:50%;
//     transform:translateY(-50%);
// }